@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #493240 0%, #F09 100%);
  background-repeat: no-repeat;
  background-size: auto;
}